.mwHighlight {
	color: lightblue;
}

.servernamecopy {
	margin: 0 0 5px 5px;
	cursor: pointer;
}

#minecraft-widgets {
	.input-row {
        margin-bottom: 20px;

        .form-control {
            margin-bottom: 5px;

			&[name="api-key"] {
				cursor: pointer;
			}
        }

		td {
			padding: 0;
			border: none;

			&+td {
				padding-left:10px;
			}

			button {
				width: unset;
			}
		}

        .help-text {
            pointer-events: none;
            line-height: 20px;
            color: #888;
            font-size: 85%;
            display: none;
        }

        .input-field {
            border-right: 5px solid #FFF;
        }

		[type=checkbox] {
			display: inline-block;
			width: 30px;
			height: 0px;
		}

        &.active {
            .input-field {
                border-right-color: #38B44A;
            }

            .help-text {
                display: block;
            }
        }

        &.error {
            .input-field {
                border-right-color: #BF3E11;
                padding-right: 20px;
            }

            .help-text {
                display: block;
            }
        }
    }
}
